:root {
  --primary-color: rgb(255 153 37 / 80%);
  --secondary-color: rgb(255 74 216/ 80%);
  --tertiary-color: rgb(24 65 0/ 80%);
  --background-color: rgb(0 0 0 / 80%);
}

body {
  font-family: Rubik, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--primary-color);
}

p {
  color: rgb(255 255 255 / 80%);
}
