html, body {
  height: 100vh;
}

body > div, main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

main {
  background-image: url("../pattern/darkExa.webp");
}
